.idea/
*__pycache__
.ipynb_checkpoints
*.pkl
model_ckpt/
ckpt/
output/
outputs/
intermediate/
data.tar.gz
data/msmarco
data/mmarco
nohup.out
data/bclavie/mmarco-japanese-hard-negatives

checkpoint/model_ckpt
checkpoint/model
checkpoint/tensorboard
checkpoint/*.txt
checkpoint/*.yaml
